GameProject/.buildozer
GameProject/game_server.db
GameProject/bin/myapp-0.1-arm64-v8a_armeabi-v7a-debug.apk
GameProject/gui/__pycache__
GameProject/gui/config/__pycache__/__init__.cpython-312.pyc
GameProject/gui/config/__pycache__/Configs.cpython-312.pyc
GameProject/gui/screen/__pycache__/__init__.cpython-312.pyc
GameProject/gui/screen/__pycache__/AuthScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/BaseScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/GameScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/LobbyScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/LocalGameSelectScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/MainMenuScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/PlayGameScreen.cpython-312.pyc
GameProject/gui/screen/__pycache__/RoomEntryScreen.cpython-312.pyc
GameProject/gui/utils/__pycache__/__init__.cpython-312.pyc
GameProject/gui/utils/__pycache__/AnimationManager.cpython-312.pyc
GameProject/gui/utils/__pycache__/Component.cpython-312.pyc
GameProject/gui/utils/__pycache__/Design.cpython-312.pyc
GameProject/gui/utils/__pycache__/GameAdapter.cpython-312.pyc
GameProject/gui/utils/__pycache__/GameSettings.cpython-312.pyc
GameProject/gui/utils/__pycache__/Responsive.cpython-312.pyc
GameProject/gui/utils/__pycache__/StyleManager.cpython-312.pyc
GameProject/gui/utils/__pycache__/UIManager.cpython-312.pyc
GameProject/gui/utils/__pycache__/VisualEngine.cpython-312.pyc
venv
GameProject/server/__pycache__/__init__.cpython-312.pyc
GameProject/server/__pycache__/api.cpython-312.pyc
GameProject/server/__pycache__/database.cpython-312.pyc
GameProject/server/__pycache__/scode.cpython-312.pyc
GameProject/utils/__pycache__/__init__.cpython-312.pyc
GameProject/utils/__pycache__/api.cpython-312.pyc
GameProject/utils/__pycache__/bot.cpython-312.pyc
GameProject/utils/__pycache__/cards.cpython-312.pyc
GameProject/utils/__pycache__/engine.cpython-312.pyc
GameProject/utils/__pycache__/SettingsLoader.cpython-312.pyc
GameProject/utils/rule/__pycache__/rules_bridge.cpython-312.pyc
GameProject/utils/rule/__pycache__/rules_durak.cpython-312.pyc
GameProject/utils/rule/__pycache__/rules_war.cpython-312.pyc
GameProject/bin/myapp-0.1.1-arm64-v8a_armeabi-v7a-debug.apk
